<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="5.6.2" targetFramework="net47" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net47" />
</packages>